/* Feuille de style odin-recipes */


.bloc-page {
	max-width: 600px;
	margin:	0 auto;
	font-family: Verdana;
}

.page-title {
	font-family: Courier New;
}

.center-text {
	text-align: center;
}

.element_menu {
	text-decoration: none;
	color: black;
	
}