/* Feuille de style odin-recipes */


.bloc-page {
	max-width: 600px;
	margin:	0 auto;
	font-family: Verdana;
}

.page-title {
	font-family: Courier New;
}

.center-text {
	text-align: center;
}

.recipes-list {
	margin-top: 40px;
	margin-left: 40px;
}

.element-recipe {
	text-decoration: none;
	color: black;	
}

.highlight {
	background: yellow;
}